<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Word and Sentence List</title>
</head>
<body>
<h1>단어 목록</h1>
<table>
    <thead>
    <tr>
        <th>ROOT</th>
        <th>ID</th>
        <th>Word</th>
        <th>Meaning</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="word : ${words}">
        <td th:text="${word.root}"></td>
        <td th:text="${word.id}"></td>
        <td th:text="${word.word}"></td>
        <td th:text="${word.meaning}"></td>
    </tr>
    </tbody>
</table>

<form action="/Wordpage_2" method="get">
    <input type="hidden" name="wordsJson" th:value="${wordsJson}"/>
    <button type="submit">문제풀기</button>
</form>

<h1>문장 목록</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Sentence</th>
        <th>Meaning</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sentence : ${sentences}">
        <td th:text="${sentence.id}"></td>
        <td th:text="${sentence.sentence}"></td>
        <td th:text="${sentence.meaning}"></td>
    </tr>
    </tbody>
</table>

<form action="/Sentencepage_2" method="get">
    <input type="hidden" name="sentencesJson" th:value="${sentencesJson}"/>
    <input type="hidden" name="wordsJson" th:value="${wordsJson}"/> <!-- 추가 -->
    <button type="submit">문제풀기</button>
</form>

</body>
</html>
